# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
results/PMETindex_/fimo/
results/PMETindex_/fimohits/
*.gff3
*.bed
*.zip
*.fa
*.fai
*.pdf
*.prof
performance/pmetindex
performance/pmetParallel
*.fasta
scripts/pmetindex
scripts/pmetParallel
src/pmet/bin/pmet
src/indexing/bin/pmetindex
src/pmetParallel/bin/pmetParallel
src/pmet/test/motif_output.txt
src/pmet/test/progress.log
src/pmetParallel/bin/out/
results/PMETindex/fimo/
results/PMETindex/memefiles/
progress
data/anno.gff3temp
results/PMETindex/IC.txt
results/PMETindex/promoter_lengths.txt
results/PMETindex/promoters.bg
src/indexing/test/binomial_thresholds.txt
results/PMETindex/fimohits/
results/PMETindex/
results/PMET/
scripts/pmet
results/PMET_parallel/
results/PMETindex_intervals/fimo/
results/PMETindex_intervals/fimohits/
results/PMETindex_intervals/memefiles/
results
data
