# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
results/PMETindex_/fimo/
results/PMETindex_/fimohits/
*.gff3
*.bed
*.zip
*.fa
*.fai
*.pdf
*.prof
performance/pmetindex
performance/pmetParallel
*.fasta
scripts/pmetindex
scripts/pmetParallel
src/pmet/bin/pmet
src/indexing/bin/pmetindex
src/pmetParallel/bin/pmetParallel
src/pmet/test/motif_output.txt
src/pmet/test/progress.log
src/pmetParallel/bin/out/
