performance/pmetindex
performance/pmetParallel
scripts/pmetindex
scripts/pmetParallel
src/pmet/bin/pmet
src/indexing/bin/pmetindex
src/pmetParallel/bin/pmetParallel
src/pmet/test/motif_output.txt
src/pmet/test/progress.log
src/pmetParallel/bin/out/
results/PMETindex/fimo/
results/PMETindex/memefiles/
data/anno.gff3temp
results/PMETindex/IC.txt
results/PMETindex/promoter_lengths.txt
results/PMETindex/promoters.bg
src/indexing/test/binomial_thresholds.txt
results/PMETindex/fimohits/
results/PMETindex/
results/PMET/
scripts/pmet
results/PMET_parallel/
results/PMETindex_intervals/fimo/
results/PMETindex_intervals/fimohits/
results/PMETindex_intervals/memefiles/
results
src/pmet/test_data
src/indexing/bin
src/indexing/build
anno.gff3
src/meme-5.5.3/build
